--index-url https://download.pytorch.org/whl/cu117
torch
accelerate
datasets
torchmetrics
evaluate
./transformers
wandb
pip
git+https://github.com/huggingface/peft.git
nodelist-inflator
deepspeed
sentencepiece
jsonlines